// colors

$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eeeeee;
$grey-300: #e0e0e0;
$grey-400: #bdbdbd;
$grey-500: #9e9e9e;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

$inactive-color: $grey-500;

$brand-color: #059212;
$brand-color-dark: #03790F;
$brand-color-darkest: #025E0B;

$edit-color: #1976D2;
$edit-color-dark: #1565C0;
$edit-color-darkest: #0D47A1;

$danger-color: #D32F2F;
$danger-color-dark: #B71C1C;
$danger-color-darkest: #9A0007;

// spacing for margins, paddings, gaps, borders, etc...

$root_space: 8px; //use spacing-1 instead of this

$spacing-quarter: calc($root_space/4);          // 2px
$spacing-half: calc($root_space/2);             // 4px
$spacing-three-quarters: calc($root_space*3/4); // 6px
$spacing-1: $root_space;                        // 8px
$spacing-1-and-a-half: $root_space * 1.5;       // 12px
$spacing-2: $root_space *2;                     // 16px
$spacing-2-and-a-half: $root_space * 2.5;       // 20px
$spacing-3: $root_space * 3;                    // 24px
$spacing-4: $root_space * 4;                    // 32px

//font-weights

$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-heavy: 900;